<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Othello Learning</title>
  <style>
    table#board {
      background-color: black;
    }

    table#board td {
    width: 30px;
    height: 30px;
    background-color: green;
    padding: 5px;
    }

    div.black {
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }

    div.white {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }
  </style>
</head>
<body>
  <table id='board'>
    {% for row in board_data %}
      <tr>
        {% for stone in row %}
          {% if stone.value == 'o' %}
            <td><div class='white'></div></td>
          {% elif stone.value == 'x' %}
            <td><div class='black'></div></td>
          {% else %}
            <td><div></div></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>
</html>
